<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= yield :title %> | Lister</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://use.fontawesome.com/db7a985f4f.js"></script>
</head>

<body>
<!-- Header -->
<%= render 'layouts/header' %>
<div class="container">
  <!-- Flash messages -->
  <div class="row">
    <%= render 'layouts/flash' %>
  </div>


  <!-- Main content -->
  <div class="row">
    <div class="col">
      <%= yield %>
    </div>
  </div>

  <!-- Footer -->
  <div class="row">
    <%= render 'layouts/footer' %>
  </div>
</div>

</body>
</html>
